body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-font-1 {
    color: #2bbfd9;
    font-size: 50px;
}

.text-font-2 {
    color: #0da161;
    font-size: 30px;
}

.topnav {
    z-index: 5;
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: black;
    padding: 0px;
    display: flex;
    align-items: left;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}

.topnav a:hover {
    color: #242526;
    background-color: white;
}

.topnav a.active {
    background-color: #242526;
    color: white;
}

/* HOMEPAGE */
.home-panel-1{
    padding: 75px 500px 50px 400px;
    background-color: #363636;
    text-align: left;
    align-items: center;
    display: flex;

}
.dragon-painting{ 
    padding: 50px 0px 0px 100px;
}
.aboutme-text{
    color: white;
    font-size: 60px;
    font-weight: 900;
}
.about-me-body{
    color: white;
}


/* MATH PAGE */

.math-handouts-panel{
    padding: 125px 0px 25px 50px;
    text-align: left;
    background-color: #363636;
    color: white;

    /* font-weight: 900; */
}
.handouts-title{
    color: white;

    font-size: 75px;
}
.handouts-list{
    padding: 0px 0px 0px 25px;
    font-size: 25px;
}
.handout-item{
    padding: 20px 0px 0px 0px; 
}
.handout-item > a{
    color: white;
}

/* Footer */
.footer{
    background-color: black;
}
.logo-array{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px 600px 25px 600px;
    justify-content: space-between;

}